%button {
  cursor: pointer;
  font-family: inherit;
  border: 0px;
  padding: 0;
}

.modal-close-button {
  @extend %button;
  @include centered-flex();
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  fill: #000000;
  background-color: transparent;
  transition-property: fill, transform;
  transition-duration: 250ms;

  //   transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    // fill: $accent-color;
    transform: rotate(180deg);
  }

  &__icon {
    fill: inherit;
  }
}

.filmoteca-btn {
  @extend %button;
  @include centered-flex();
  width: 150px;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  text-transform: uppercase;
  padding: 14px 18px;
  border-radius: $border-radius;
  transition-property: fill;
  transition-duration: 250ms;
  //   transition-timing-function: $timing-function;

  &--primary {
    color: $white;
    background-color: $accent-color;
  }

  &--secondary {
    color: $first-font-color;
    background-color: transparent;
    border: 1px solid $first-font-color;
  }

  &--auth {
    color: $white;
    background-color: $accent-color;
    border-radius: $border-radius;
  }
}

.scroll-up-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
  background-color: $second-font-color;
  border-radius: $border-radius;
  opacity: 0.3;
  color: black;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  box-shadow: 1px 49px 41px -25px rgba(0, 0, 0, 0.51);
  z-index: 9;

  &--hidden {
    transform: translateY(+200%);
  }

  &:hover,
  &:focus {
    opacity: 1;
    background-color: $accent-color;
    scale: 1.1;
  }

  &__icon {
    fill: $white;
    rotate: 270deg;
  }
}
