<header class="header" id="top">
  <div class="container container__header">
    <div class="header__background"></div>
    <nav class="navigation">
      <a class="navigation__logo" href="index.html"
        ><img src="./images/svg/film.svg" alt="Filmoteka logo" /><span
          id="hiddenOnMobile"
          >Filmoteka</span
        ></a
      >
      <ul class="navigation__list"></ul>
    </nav>

    <form class="searchForm" id="search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button type="submit" disabled="true" class="searchForm__button">
        <img
          class="searchForm__icon"
          src="./images/svg/search 2.svg"
          alt="Filmoteka logo"
        />
      </button>
    </form>
    <p class="searchForm__message">
      Search result not successful. Enter the correct movie name and
    </p>

    <div class="user">
  <div class="user__box">
  </div>  
  <button
        class="filmoteca-btn filmoteca-btn--auth filmoteca-btn--logOut"
        type="submit"
        id="signInModalOpen"
        data-signInModal-open
      >
        Log in / Sign Up
      </button>

      <button
        class="filmoteca-btn filmoteca-btn--auth visually-hidden"
        type="submit"
        id="ConfirmEmail"
      >
        Confirm Email
      </button>

      <button
        class="filmoteca-btn filmoteca-btn--auth filmoteca-btn--logOut visually-hidden"
        type="submit"
        id="logoutBtn"
      >
        Log Out
      </button>
</div>


      
    </div>
  </div>
</header>
