<header class="header" id="top">
  <div class="container container__header">
    <div class="header__background"></div>
    <nav class="navigation">
      <a class="navigation__logo" href=""
        ><img src="./images/svg/film.svg" alt="Filmoteka logo" /><span
          id="hiddenOnMobile"
          >Filmoteka</span
        ></a
      >
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link navigation__link--current" href="">HOME</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="">MY LIBRARY</a>
        </li>
      </ul>
    </nav>

    <form class="auth-form">
      <b class="auth-form__title">Авторизація</b>

      <div class="auth-form__field">
        <label class="auth-form__label" for="email">Пошта</label>
        <input
          autocomplete="email"
          class="auth-form__input"
          type="email"
          name="email"
          id="email"
          placeholder=" "
        />

        <label class="auth-form__label" for="pass">Пароль</label>
        <input
          autocomplete="current-password"
          class="auth-form__input"
          type="password"
          name="password"
          id="password"
          placeholder=" "
          autofocus
        />
      </div>

      <div class="auth-form__btnBox">
        <button
          class="filmoteca-btn filmoteca-btn--auth filmoteca-btn--login"
          type="submit"
          id="loginBtn"
        >
          Log in
        </button>

        <button
          class="filmoteca-btn filmoteca-btn--auth filmoteca-btn--SignUpBtnHidden"
          type="submit"
          id="SignUpBtn"
        >
          Sign Up
        </button>

        <button
          class="filmoteca-btn filmoteca-btn--auth filmoteca-btn--logOut visually-hidden"
          type="submit"
          id="logOut"
        >
          Log Out
        </button>
      </div>
    </form>

    <form class="searchForm" id="search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button type="submit" disabled="true" class="searchForm__button">
        <img
          class="searchForm__icon"
          src="./images/svg/search 2.svg"
          alt="Filmoteka logo"
        />
      </button>
    </form>
    <p class="searchForm__message">
      Search result not successful. Enter the correct movie name and
    </p>
  </div>
</header>
