<header class="header" id="top">
  <div class="container container__header">
    <nav class="navigation">
      <a class="navigation__logo" href="index.html">
        <svg width="24" height="24">
          <use href="./images/svg/symbol-defs.svg#film">
            <span id="hiddenOnMobile">Filmoteka</span>
          </use>
        </svg>
      </a>
      <ul class="navigation__list visually-hidden">
        <li class="navigation__item">
          <button
            class="navigation__link navigation__link--current"
            id="home"
            type="button"
          >
            HOME
          </button>
        </li>
        <li class="navigation__item">
          <button class="navigation__link" id="myLib" type="button">
            MY LIBRARY
          </button>
        </li>
      </ul>
    </nav>

    <form class="searchForm" id="search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button type="submit" disabled="true" class="searchForm__button">
        <svg class="searchForm__icon">
          <use href="./images/svg/symbol-defs.svg#search"></use>
        </svg>
      </button>
    </form>

    <div class="myLib__btnsBox visually-hidden">
      <button
        class="filmoteca-btn filmoteca-btn--primary"
        type="button"
        id="watched"
      >
        Watched
      </button>

      <button
        class="filmoteca-btn filmoteca-btn--secondary"
        type="button"
        id="queue"
      >
        Queue
      </button>
    </div>

    <div class="user">
      <div class="user__box"></div>
      <button
        class="filmoteca-btn filmoteca-btn--auth filmoteca-btn--logOut"
        type="submit"
        id="signInModalOpen"
        data-signInModal-open
      >
        Log in / Sign Up
      </button>

      <button
        class="filmoteca-btn filmoteca-btn--auth visually-hidden"
        type="submit"
        id="ConfirmEmail"
      >
        Confirm Email
      </button>

      <button
        class="filmoteca-btn filmoteca-btn--auth filmoteca-btn--logOut visually-hidden"
        type="submit"
        id="logoutBtn"
      >
        Log Out
      </button>
    </div>
  </div>
</header>
