<div class="backdrop backdrop--hidden" data-modal>
  <div class="movieModal">
    <button class="button modal-close-button" type="button" data-modal-close>
      <svg class="modal-close-button__icon" width="14" height="14">
        <use href="./images/svg/symbol-defs.svg#close"></use>
      </svg>
    </button>
    <div class="movieModal__infoBox">
      <div class="movieModal__btns">
        <button
          class="filmoteca-btn filmoteca-btn--primary"
          type="button"
          id="addToWatched"
        >
          add to Watched
        </button>

        <button
          class="filmoteca-btn filmoteca-btn--secondary"
          type="button"
          id="addToQueue"
        >
          add to queue
        </button>
      </div>
    </div>
  </div>
</div>
